body {
    font-family: 'Arial', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: whitesmoke;
    font-size: 1.2rem;
}

h2 {
    font-size: 2rem;
    text-align: center;
    margin: 8rem 1rem 1rem 1rem;
}

.join-head {
    font-family: lobster, cursive;
    color: rgb(0, 0, 0);
    font-size: 3rem;
    text-decoration: underline;
}

.nav-logo {
    height: 8rem;
    width: auto;
    margin: 0 1rem;
    vertical-align: left;
}

nav div {
    background-image: linear-gradient(to right, #d50000, #ff6f00, #ffc400, #69d200, #00bfa5, #003fed, #8400ff, #d500f9, #d50000);
    padding: .15rem;
}

nav ul {
    list-style-type: none;
    margin: -2rem;
    padding: .5rem;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 2.8rem 1.7rem;
}

h1 {
    color: black;
    font-size: 1.5rem;
    margin: 0 1.5rem;
}

nav a:link {
    color: rgb(0, 0, 0);
}

h1 a:visited {
    color: black;
}

li a:visited {
    color: rgb(190, 0, 0);
}

li a:hover {
    color: rgb(0, 200, 255);
}

nav a:focus {
    color: #9a00ed;
}

li a:active {
    font-weight: bold;
}

a {
    text-decoration: none;
}

a.button {
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    margin-top: 2rem;
    cursor: pointer;
    background-color: rgb(190, 0, 0);
    padding: .2rem .25rem;
}

p {
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin: 1rem 1.5rem;
    text-align: center;
}

.back {
    font-size: 1.2rem;
    margin: 3rem;
    color: rgb(0, 0, 0);
}

.category-head {
    font-size: 2.2rem;
    font-family: 'Lobster', cursive;
    color: rgb(190, 0, 0);
    margin-top: 6.8rem;
    text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

th, td {
  border-bottom: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
  color: #333;
}

tr:hover {
  background-color: #f9f9f9;
}

.contact-head {
    font-size: 2.2rem;
    font-family: 'Lobster', cursive;
    color: rgb(190, 0, 0);
    margin-top: 6.8rem;
    text-align: center;
}

fieldset {
    font-size: 1.2rem;
    text-align: center;
    border-image: linear-gradient(to right, #d50000, #ff6f00, #ffc400, #69d200, #00bfa5, #003fed, #8400ff, #d500f9, #d50000) 1;
    padding: 1rem 1rem;
    margin: 3rem;
}

.welcome-head {
    font-family: 'Lobster', cursive;
    color: rgb(190, 0, 0);
    font-size: 2.6rem;
    margin-top: 6.8rem;
    text-align: center;
}

.about-head {
    font-family: 'Lobster', cursive;
    color: rgb(190, 0, 0);
    font-size: 2.6rem;
    margin-top: 6.8rem;
    text-align: center;
}

.about-text {
    font-size: 1.3rem;
    line-height: 1.6rem;
    margin: 1rem 1.5rem;
    text-align: center;
}

.required {
    color: red;
    font-size: 1rem;
}

footer {
    margin-top: 1rem;
    font-size: 1rem;
    color: black;
}

.signup-footer {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.success-head {
    font-family: 'Lobster', cursive;
    color: rgb(190, 0, 0);
    font-size: 2.6rem;
    margin-top: 6.8rem;
    text-align: center;
}
