body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

header {
    background-color: whitesmoke;
    padding: 10px;
    font-size: 20px;
}

nav div {
    background-image: linear-gradient(to right, #d50000, #ff6f00, #ffc400, #69d200, #00bfa5, #003fed, #8400ff, #d500f9, #d50000);
    padding: 1.5px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 20px;
}

h1 {
    color: black;
    font-size: 20px;
    margin: 0 20px;
    justify-items: left;
}

nav a:link {
    color: black;
}

h1 a:visited {
    color: black;
}

li a:visited {
    color: purple;
}

li a:hover {
    color: red;
}

nav a:focus {
    color: rgb(64, 128, 0);
}

li a:active {
    font-weight: bold;
}

a {
    text-decoration: none;
}

p {
    font-size: 18px;
    line-height: 16px;
    margin: 20px;
    text-align: center;
}