body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(194, 84, 0);
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

h1 {
    font-family:'Courier New', Courier, monospace;
    color: rgb(255, 120, 0);
    font-size: 1.5rem;
    text-align: center;
    margin-top: 30px;
}

nav a:link {
    color: blue;
}
nav a:visited {
    color: green;
}

nav a:hover {
    color: red;
}

nav a:active {
    color: rgb(255, 120, 0);
}

nav a:focus {
    color: green;
}
