title {
    font-family: "Arial", Helvetica, sans-serif;
    color: rgb(255, 120, 0);
}

a:link {
    color: blue;
}
a:visited {
    color: green;
}

a:hover {
    color: red;
}

a:active {
    color: rgb(255, 120, 0);
}

a:focus {
    color: purple;
}
