title {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 120, 0);
}

h1 {
    font-family:'Courier New', Courier, monospace;
    color: rgb(255, 120, 0);
    font-size: 1.5rem;
}

a:link {
    color: blue;
}
a:visited {
    color: green;
}

a:hover {
    color: red;
}

a:active {
    color: rgb(255, 120, 0);
}

a:focus {
    color: green;
}
